Welcome to everything

<div class="row">
	<div class="col-sm-12 col-md-offset-2 col-md-8">
		<editor  key="summernote" default-text="walla" on-save="saveEditor(data)" enabled="false"></editor>
		<editor  key="summernote2" default-text="walla" on-save="saveEditor(data)" enabled="false"></editor>
		<editor  key="summernote3" default-text="walla" on-save="saveEditor(data)" enabled="false"></editor>
		<editor  key="summernote4" default-text="walla" on-save="saveEditor(data)" enabled="false"></editor>
		<editor  key="summernote5" default-text="walla" on-save="saveEditor(data)" enabled="false"></editor>
		<editor  key="summernote6" default-text="walla" on-save="saveEditor(data)" enabled="false"></editor>
	</div>
</div>

  