<div class="row">
	<div class="col-sm-12 col-md-offset-2 col-md-8">
			<article key="summernote"  heading="come come" text="walla" on-save="saveEditor(data)" collabs="['asd' , 'xzc' , 'zxc']"></article>

			<article key="summernote2"  heading="come come" text="walla" on-save="saveEditor(data)" collabs="['asd' , 'xzc' , 'zxc']"></article>

			<article key="summernote3"  heading="come come" text="walla" on-save="saveEditor(data)" collabs="['asd' , 'xzc' , 'zxc']"></article>
			<article key="summernote4"  heading="come come" text="walla" on-save="saveEditor(data)" collabs="['asd' , 'xzc' , 'zxc']"></article>
			<article key="summernote5"  heading="come come" text="walla" on-save="saveEditor(data)" collabs="['asd' , 'xzc' , 'zxc']"></article>
			<article key="summernote6"  heading="come come" text="walla" on-save="saveEditor(data)" collabs="['asd' , 'xzc' , 'zxc']"></article>

	</div>
</div>

  