<div class="article">
	<div class="row-fluid" ng-init="showEditor = false">

		<div class="row-fluid">
			<div class="article-heading-holder">
				<h1 class="article-heading"> [[heading]] </h1>	
			</div>
		</div>
		<div class="row-fluid">
			<div class="article-collaborators-holder">
				<h4 class="article-collaborators">by [[collabText]] </h4>
			</div>
		</div>

		<div class="row-fluid">
			<div class="editor">
				<editor  key="[[key]]" default-text="[[text]]" on-save="onSave(data)" enabled="false"></editor>
			</div>
		</div>

	</div>
</div>
